<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMW Models Slider</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../CSS/Book.css">
</head>

<body>

    <section class="containers">
        <nav class="navbar navbar-expand-lg bg-transparent position-absolute w-100">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="../index.html">
                    <img src="https://www.bmw.in/content/dam/bmw/common/images/logo-icons/BMW/BMW_Grey-Colour_RGB.SVG.asset.1697707041685.SVG"
                        alt="BMW" width="38" height="34"> BMW
                </a>
                <button title="title" class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link text-white" href="Book.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="Buy.html">New car</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="Vehicles.html">My vehicles</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link text-white" href="#"><i
                                    class="fa-solid fa-location-dot "> </i><span class="mx-2"
                                    style="font-size: 0.75rem; font-weight: 500;">Set Location</span></a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="Login.html"><i
                                    class="fa-solid fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="img-content text-white text-center">
            <h1 class="fw-light">THE ALL-NEW BMW X3</h1>
        </div>
        <button class="btn btn-primary">Pre-Book Now</button>
    </section>
    <div class="fw-light mt-4 mx-3 " style="width: 100%; margin-top: 100vh;">
        <ul class="nav-tabs">
            <li class="active"><a href="#" data-filter="all">All</a></li>
            <li><a href="#" data-filter="2">2</a></li>
            <li><a href="#" data-filter="X">X</a></li>
        </ul>
    </div>
    <section class="py-5 px-4">
        <div class="row g-4">
            <div class="col-md-3 card-item" data-category="2">
                <div class="card">
                    <div class="card-img-container">
                        <img src="https://static.smoss.apac.bmw.cloud/bmw-admin-portal/bmw-admin-portal-productcatalog-prod/BMW1752053002016productBRGREY_MOK_1200475.webp"
                            class="card-img-top" alt="BMW 2 Series" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">The New 2 Series Gran Coupé 218 M Sport</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 card-item" data-category="2">
                <div class="card">
                    <div class="card-img-container">
                        <img src="https://static.smoss.apac.bmw.cloud/bmw-admin-portal/bmw-admin-portal-productcatalog-prod/BMW1752053002016productBRGREY_MOK_1200475.webp"
                            class="card-img-top" alt="BMW 2 Series" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">The New 2 Series Gran Coupé 218 M Sport Pro</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 card-item" data-category="X">
                <div class="card">
                    <div class="card-img-container">
                        <img src="https://static.smoss.apac.bmw.cloud/bmw-admin-portal/bmw-admin-portal-productcatalog-prod/BMW1737087365002productBodyShot3.webp"
                            class="card-img-top" alt="BMW X3" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">The all-new X3 xDrive20d MSport</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 card-item" data-category="X">
                <div class="card">
                    <div class="card-img-container">
                        <img src="https://static.smoss.apac.bmw.cloud/bmw-admin-portal/bmw-admin-portal-productcatalog-prod/BMW1737085559047productBodyShot1.webp"
                            class="card-img-top" alt="BMW X3" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">The all-new X3 xDrive20 MSport</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center px-0">
        <small class="fw-light d-block">
            <strong>Disclaimer:</strong> The models, equipment and possible vehicle configurations illustrated in this
            specification sheet may differ from vehicles supplied in the Indian market. Some options may contain
            mandatory combinations with other options. Please check with your local Authorized BMW Dealer. Price
            prevailing at the time of invoicing will be applicable. Ex-showroom price inclusive of GST (incl
            compensation cess) as applicable but excludes Road Tax, Tax collected at Source (TCS), GST on Tax collected
            at source, RTO, statutory taxes/fees, other local tax/cess levies and insurance. Prices and options are
            subject to change without prior notice.
        </small>
    </div>
    <footer class="bg-white text-dark pt-4 border-top">
        <div class="container py-4">
            <div class="row mb-4">
                <div class="col-md-4">
                    <h6>QUICK LINKS</h6>
                    <ul class="list-unstyled">
                        <li>Home</li>
                        <li>New Cars</li>
                        <li>Used Cars</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>FEEDBACK</h6>
                    <ul class="list-unstyled">
                        <li>Share Your Feedback</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>CONTACT US</h6>
                    <ul class="list-unstyled">
                        <li>contact.india@bmw.in</li>
                        <li>1800 102 2269</li>
                    </ul>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <h6>LEGAL</h6>
                    <ul class="list-unstyled">
                        <li>Legal Disclaimer/ Imprint</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>ORDER STATUS </h6>
                    <ul class="list-unstyled">
                        <li>Track Your Order</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-end social-icons mb-3">
                    <a href="https://www.facebook.com/bmwindia"><i class="fa-brands fa-facebook mx-2"></i></a>
                    <a href="https://www.instagram.com/bmwindia_official/"><i class="fa-brands fa-instagram mx-2"
                            style="color: #ee3ad6;"></i></a>
                    <a href="https://www.youtube.com/user/bmwindia"><i class="fa-brands fa-youtube mx-2"
                            style="color: red;"></i></a>
                    <a href="https://in.linkedin.com/showcase/bmw-india/"><i class="fa-brands fa-linkedin mx-2"
                            style="color: #0370c4;"></i></a>
                    <a href="https://x.com/bmwindia"><i class="fa-brands fa-x-twitter mx-2"
                            style="color: black;"></i></a>
                </div>
                <div
                    class="footer-bottom d-flex flex-wrap justify-content-center align-items-center gap-3 pt-3 border-top">
                    <p class="mb-0">© BMW AG 2025</p>
                </div>
    </footer>
    <script src="../JS/Book.js"></script>
</body>

</html>