<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="../CSS/Store.css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-transparent position-relative mx-2">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" href="../index.html">
                    <img src="https://www.bmw.in/content/dam/bmw/common/images/logo-icons/BMW/BMW_Grey-Colour_RGB.SVG.asset.1697707041685.SVG"
                        alt="BMW" width="38" height="34">
                    BMW
                </a>
                <button title="title" class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active text-dark" href="Models.html">Models</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="Electric.html">Electric</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="Configurator.html">Configurator</a>
                        </li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">
                                Visit Online Shop
                            </a>
                            <ul class="dropdown-menu custom-dropdown">
                                <li>
                                    <h6 class="dropdown-header">Shop Online</h6>
                                </li>
                                <li><a class="dropdown-item" href="Buy.html">Buy New Vehicle</a></li>
                                <li><a class="dropdown-item" href="Book.html">Pre-Book and Exclusive Editions</a></li>
                                <li><a class="dropdown-item" href="Configurator.html">Configure Your Own</a></li>
                                <li><a class="dropdown-item" href="Offers.html">Current Offers</a></li>
                                <li><a class="dropdown-item" href="Store.html">BMW Connected Drive Store</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link text-dark" href="Login.html" title="User Account"><i
                                    class="fa-solid fa-user"></i></a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#" title="Add Cart"><i
                                    class="fa-solid fa-cart-shopping"></i></a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#" title="Likes"><i
                                    class="fa-solid fa-heart"></i></a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#" title="Location"><i
                                    class="fa-solid fa-location-dot"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="bmw-login-container">
        <img src="https://www.bmw.in/content/dam/bmw/common/images/logo-icons/BMW/BMW_Grey-Colour_RGB.SVG.asset.1697707041685.SVG"
            alt="BMW" width="38" height="34" class="bmw-logo">
        <div class="bmw-separator"></div>
        <p class="bmw-text">Log in now to discover all products for your BMW.</p>
        <button
            style="margin-right: 15px; width: 180px; height: 40px; background-color: transparent; border: 1px solid black; border-radius: 2px;">Login</button>
    </div>
    <h1 class="mt-5 " style="padding-left: 60px; font-weight: 350;">BMW CONNECTED DRIVE.</h1>
    <h6 class="mt-3" style="padding-left: 60px; font-weight: 350;">More comfort, more safety, more fun: discover the
        digital services and extra services of BMW ConnectedDrive.</h6>

    <div class="row g-3 mt-4 custom-row">
        <div class="col-md-3">
            <div class="custom-card">
                <img src="https://thumbs.dreamstime.com/z/future-car-software-technology-self-driving-autonomous-vehicle-driverless-robo-generative-ai-273577953.jpg?w=992"
                    alt="">
                <div class="card-body">
                    <div>
                        <h5>Digital Packages</h5>
                        <p>Login and discover attractive prices for packages that are relevant for your vehicle</p>
                    </div>
                    <button>Login</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://history-computer.com/wp-content/uploads/2022/05/self-driving-car.jpg" alt="">
                <div class="cards-body">
                    <h5>Driving Assistant Plus</h5>
                    <p>Starting at $4,999.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://www.bmw.in/de/shop/ls/images/connected-drive/base/v4/VDC_Offer/images/20250403094753-AdaptiveMSuspension16x9_5a37d1197543c30e301cd1a84576a171.jpg"
                    alt="">
                <div class="cards-body">
                    <h5>Adaptive M Suspension</h5>
                    <p>Starting at $2,299.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://www.bmw.in/de/shop/ls/images/connected-drive/base/v4/Base_Drive_Recorder/images/20250120114335-Base_Drive_Recorder_ID1tn_60116cd3644e5f25b64815b8ed6c3644.jpg"
                    alt="">
                <div class="cards-body">
                    <h5>BMW Drive Recorder</h5>
                    <p>Starting at $1,199.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://www.bmw.in/de/shop/ls/images/connected-drive/base/v4/DrivingAssistant_Plus_SFA/images/20250603082930-Thumbnail-DrivingAssistant_Plus_SFA_ID1tn_e5638d53d0efad708ac5ab1aef01671e.jpg"
                    alt="">
                <div class="cards-body">
                    <h5>High Beam Assistant</h5>
                    <p>Starting at $1,199.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://www.bmw.in/de/shop/ls/images/connected-drive/base/v4/ParkingAssistant_Prof_SFA/images/20250120131005-ParkingAssistant_Prof_SFA_ID1tn_a967c9fcb4a367bc981b0962f2b0558c.jpg"
                    alt="">
                <div class="cards-body">
                    <h5>Parking Assistant Professional</h5>
                    <p>Starting at $2,299.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://www.bmw.in/de/shop/ls/images/connected-drive/base/v4/RES_Offer/images/20250403122009-RES16x9_3697ac84e702311ecf6816c3ceb2ec0d.jpg"
                    alt="">
                <div class="cards-body">
                    <h5>Remote Engine Start</h5>
                    <p>Starting at $4,999.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://www.bmw.in/de/shop/ls/images/connected-drive/base/v4/Welcome_Light_SFA/images/20250121112102-Welcome_Light_SFAtn_b4d3d1351e9745cbcc45c86981dc6928.PNG"
                    alt="">
                <div class="cards-body">
                    <h5>Welcome Light Animation</h5>
                    <p>Starting at $3,999.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://www.bmw.in/de/shop/ls/images/connected-drive/base/v4/Base_RemoteOffer/images/20250120134837-Base_RemoteOffer_ID1tn_fb270126606756cac6559e800b3ed02c.jpg"
                    alt="">
                <div class="cards-body">
                    <h5>BMW Remote Services</h5>
                    <p>Starting at $5,999.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="custom-cards">
                <img class="cards-img"
                    src="https://www.bmw.in/de/shop/ls/images/connected-drive/base/v4/ISS_Offer/images/20250403114640-IconicSoundsSport16x9_1b839374244545a5724bcee8a1073619.jpg"
                    alt="">
                <div class="cards-body">
                    <h5>BMW IconicSounds Sport</h5>
                    <p>Starting at $7,999.00<br>/1 Month</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white text-dark pt-4 mt-4 border-top">
        <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 border-bottom">
            <div class="d-flex align-items-center gap-3">
                <img src="https://www.bmw.in/content/dam/bmw/common/images/logo-icons/BMW/BMW_Grey-Colour_RGB.SVG.asset.1697707041685.SVG"
                    alt="BMW Logo" style="height: 50px;">
                <span class="fw-medium fs-6">Stay up to date with the latest news from BMW</span>
            </div>
            <button class="btn btn-sm">Sign up ></button>
        </div>

        <div class="container py-4">
            <div class="row mb-4">
                <div class="col-md-4">
                    <h5>Contact & Info</h5>
                    <ul class="list-unstyled">
                        <li>Customer support</li>
                        <li>Online Genius (FAQ)</li>
                        <li>Accident Support</li>
                        <li>Request for Offer</li>
                        <li>Find a Dealer</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Assistance & Services</h5>
                    <ul class="list-unstyled">
                        <li>Book a Service Appointment</li>
                        <li>MY BMW App</li>
                        <li>Connected Drive</li>
                        <li>Warranties</li>
                        <li>Remote Software Upgrades</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Models</h5>
                    <ul class="list-unstyled">
                        <li>BMW X series</li>
                        <li>BMW 7 series</li>
                        <li>BMW 5 series</li>
                        <li>BMW 3 series</li>
                        <li>BMW 2 series</li>
                        <li>BMW M series</li>
                        <li>BMW Concept Cars</li>
                        <li>BMW Protection Vehicles</li>
                        <li>GKL Cars</li>
                    </ul>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <h5>Experience BMW</h5>
                    <ul class="list-unstyled">
                        <li>About us</li>
                        <li>BMW careers</li>
                        <li>BMW.com</li>
                        <li>BMW Group</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Choose & Buy</h5>
                    <ul class="list-unstyled">
                        <li>Build your Own</li>
                        <li>New Cars Search</li>
                        <li>Pre-Book and Exclusive Editions</li>
                        <li>BMW Financial Services</li>
                        <li>Finance & Leasing</li>
                        <li>BMW Offers</li>
                        <li>Book a Test Drive</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>BMW Electric Cars</h5>
                    <ul class="list-unstyled">
                        <li>BMW Electric Vehicles</li>
                    </ul>
                </div>
            </div>

            <div class="d-flex justify-content-end social-icons mb-3">
                <a href="https://www.facebook.com/bmwindia"><i class="fa-brands fa-facebook mx-2"></i></a>
                <a href="https://www.instagram.com/bmwindia_official/"><i class="fa-brands fa-instagram mx-2"
                        style="color: #ee3ad6;"></i></a>
                <a href="https://www.youtube.com/user/bmwindia"><i class="fa-brands fa-youtube mx-2"
                        style="color: red;"></i></a>
                <a href="https://in.linkedin.com/showcase/bmw-india/"><i class="fa-brands fa-linkedin mx-2"
                        style="color: #0370c4;"></i></a>
                <a href="https://x.com/bmwindia"><i class="fa-brands fa-x-twitter mx-2" style="color: black;"></i></a>
            </div>

            <div class="footer-bottom d-flex flex-wrap justify-content-center align-items-center gap-3 pt-3 border-top">
                <p class="mb-0">© BMW AG 2025</p>
                <p class="mb-0">Legal Disclaimer/Imprint</p>
                <p class="mb-0">Privacy Policy</p>
                <p class="mb-0">Contact Us</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>