<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMW Models</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="../CSS/Vehicles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-black" href="#">
                <img src="https://www.bmw.in/content/dam/bmw/common/images/logo-icons/BMW/BMW_Grey-Colour_RGB.SVG.asset.1697707041685.SVG"
                    alt="BMW" width="38" height="34"> BMW
            </a>
            <button title="title" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link text-black" href="Book.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-black" href="Buy.html">New Car</a></li>
                    <li class="nav-item"><a class="nav-link text-black" href="Vehicles.html">My Vehicles</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-black" href="#"><i
                                class="fa-solid fa-location-dot"></i> <span style="font-size: 0.75rem;">Set
                                Location</span></a></li>
                    <li class="nav-item"><a class="nav-link text-black" href="#"><i class="fa-solid fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <a href="Vehicles"
        style="margin-top: 20px; margin: 20px; font-weight: 400; border-bottom: 2px solid blue; color: gray; text-decoration:none;">My
        Vehicles</a>
    <div class="hero-image">
        <img src="https://shop.bmw.in/assets/images/new-customer.png" alt="BMW">
        <div class="hero-text">
            There are no configured BMWs yet. Please go to BMW Shop home and select a model to start configuring.
        </div>
    </div>
    <footer class="bg-white text-dark pt-4 border-top">
        <div class="container py-4">
            <div class="row mb-4">
                <div class="col-md-4">
                    <h6>QUICK LINKS</h6>
                    <ul class="list-unstyled">
                        <li>Home</li>
                        <li>New Cars</li>
                        <li>Used Cars</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>FEEDBACK</h6>
                    <ul class="list-unstyled">
                        <li>Share Your Feedback</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>CONTACT US</h6>
                    <ul class="list-unstyled">
                        <li>contact.india@bmw.in</li>
                        <li>1800 102 2269</li>
                    </ul>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <h6>LEGAL</h6>
                    <ul class="list-unstyled">
                        <li>Legal Disclaimer/ Imprint</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>ORDER STATUS </h6>
                    <ul class="list-unstyled">
                        <li>Track Your Order</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-end social-icons mb-3">
                    <a href="https://www.facebook.com/bmwindia"><i class="fa-brands fa-facebook mx-2"></i></a>
                    <a href="https://www.instagram.com/bmwindia_official/"><i class="fa-brands fa-instagram mx-2"
                            style="color: #ee3ad6;"></i></a>
                    <a href="https://www.youtube.com/user/bmwindia"><i class="fa-brands fa-youtube mx-2"
                            style="color: red;"></i></a>
                    <a href="https://in.linkedin.com/showcase/bmw-india/"><i class="fa-brands fa-linkedin mx-2"
                            style="color: #0370c4;"></i></a>
                    <a href="https://x.com/bmwindia"><i class="fa-brands fa-x-twitter mx-2"
                            style="color: black;"></i></a>
                </div>
                <div
                    class="footer-bottom d-flex flex-wrap justify-content-center align-items-center gap-3 pt-3 border-top">
                    <p class="mb-0">© BMW AG 2025</p>
                </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>